/* Подключение шрифотов */

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
	font-display: swap;
}

/* общие свойства страницы */

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	background-color: #ffffff;
	color: #000000;
}

li {
	list-style-type: none;
	margin: 0;
}

ul,
p,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

/* типовая кнопка */

.button {
	display: block;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #ffe17f;
	letter-spacing: 0.2em;
	border: none;
}

/* свойства "header" */

.page-header {
	margin: 40px auto 0 auto;
	padding: 0 60px 38px 53px;
	width: 1160px;
	height: 186px;
	box-sizing: border-box;
	background-color: #ffe17f;
	color: #000000;
}

.page-header_main-page {
	height: 300px;
	padding-bottom: 152px;
}

.page-header__logo {
	margin-top: -23px;
	margin-bottom: 30px;
}

.page-header__navigation {
	width: 100%;
}

.navigation__list {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}

/* Меню навигация пользователя */

.navigation-user {
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 30px;
}

.navigation-user__form {
	display: flex;
}

.navigation-user__search-item {
	margin-right: auto;
}

.navigation-user__login-item {
	width: 220px;
}

.navigation-user__compare-item {
	width: 100px;
	margin-left: 35px;
}

.navigation-user__cart-item {
	margin-left: 55px;
}

.navigation-user__button-search {
	margin-right: 20px;
	padding: 2px;
	width: 20px;
	height: 20px;
	background: #ffe17f url(/img/nav-search-logo.svg) 50% 50% no-repeat;
	border: none;
	cursor: pointer;
}

.navigation-user__link {
	text-decoration: none;
	color: #000000;
}

/* Меню навигация страницы */

.navigation-main {
	font-family: "Raleway", sans-serif;
	letter-spacing: 0.2em;
	line-height: 21px;
}

.navigation-main__catalog-item {
	width: 230px;
	margin-right: 13px;
}

.navigation-main__delivery-item {
	margin-left: auto;
	width: 140px;
}

.navigation-main__warranty-item {
	width: 140px;
	margin-left: 19px;
}

.navigation-main__contacts-item {
	width: 140px;
	margin-left: 62px;
	text-align: right;
}

.navigation-main__button {
	padding: 0;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background-color: #ffe17f;
	border: none;
	cursor: pointer;
}

.navigation-main__plus-button {
	width: 50px;
	height: 50px;
	background: url(/img/header-plus-button.svg) #ffe17f 50% 50% no-repeat;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
}

.navigation-user__input {
	display: inline-block;
	width: 480px;
	margin: 0;
	padding: 0;
	background-color: #ffe17f;
	color: rgba(0, 0, 0, 0.3);
	border: none;
}

.navigation-main__link {
	padding: 0;
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
}

/* свойства секции "main" */

.page-main {
	display: flex;
	flex-direction: column;
}

.main-container {
	flex-grow: 1;
}

.page-container {
	width: 1160px;
	margin: 0 auto;
}

/* свойства секции "slider" */

.slider {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
	margin-top: -150px;
}

.slider__img-section {
	display: flex;
}

.slider__info-section {
	padding: 30px 0px 40px 40px;
}

.slider__button-prev,
.slider__button-next {
	margin: auto 0;
}

.slider__number {
	margin: 0 47px 0 0;
	text-align: end;
	font-weight: 800;
	font-size: 180px;
	line-height: 135px;
	color: #ffffff;
}

.slider__slogan {
	margin: -44px 0 19px 0;
	font-family: "Raleway", sans-serif;
	font-size: 50px;
	line-height: 50px;
}

.slider__description {
	margin: 0 0 0 0;
}

.slider__button-prev {
	margin-right: -20px;
	width: 20px;
	height: 60px;
	background: url(/img/slider-left-arrow.svg) 50% 50% no-repeat;
	border: none;
	cursor: pointer;
}

.slider__button-next {
	margin-left: -20px;
	width: 20px;
	height: 60px;
	background: url(/img/slider-right-arrow.svg) 50% 50% no-repeat;
	border: none;
	cursor: pointer;
}

.paganation-wrapper {
	margin: 35px 0 70px 0;
	padding-right: 60px;
	display: flex;
	justify-content: space-between;
}

.slider__pagination {
	margin: 0;
	padding: 0;
	display: flex;
	width: 80px;
	justify-content: space-between;
}

.slider__pagination-button {
	padding: 0;
	width: 12px;
	height: 12px;
	border: solid #000000 2px;
	border-radius: 50%;
	background-color: #ffffff;
	cursor: pointer;
}

.slider__pagination-button_current {
	background-color: #000000;
}

.slider__specification {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 320px;
	height: 70px;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.specification__definition {
	margin: 0;
	padding: 0;
	font-size: 36px;
}

.specification__term {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

/* свойства секции "category" */

.category__list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0 0 70px 0;
}

.category__item {
	width: 160px;
}

.category__link {
	text-decoration: none;
	color: #000000;
}

.category__image {
	width: 160px;
	height: 160px;
	margin-bottom: 33px;
	align-content: center;
}

.category__image-1 {
	background: url(/img/cat-VR-logo.svg) #ffe17f 50% 50% no-repeat;
}
.category__image-2 {
	background: url(/img/car-monopode-logo.svg) #ffe17f 50% 50% no-repeat;
}
.category__image-3 {
	background: url(/img/cat-actcam-logo.svg) #ffe17f 50% 50% no-repeat;
}
.category__image-4 {
	background: url(/img/cat-fitnessbr-logo.svg) #ffe17f 50% 50% no-repeat;
}
.category__image-5 {
	background: url(/img/cat-smartwatch-logo.svg) #ffe17f 50% 50% no-repeat;
}
.category__image-6 {
	background: url(/img/cat-quadro-logo.svg) #ffe17f 50% 50% no-repeat;
}

.category__content {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 24px;
}

/* свойства секции "services" */

.service {
	margin: 0 0 90px 0;
	background-color: #f0f0f0;
}

.service-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.service__tabs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 170px;
}

.tab-label {
	display: block;
	width: 160px;
	margin: 10px 0 10px 0;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 24px;
	background-color: #ffe17f;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 0.2em;
}

.tab-description {
	font-family: "Raleway", sans-serif;
	font-size: 50px;
	line-height: 50px;
}

.service__panels {
	width: 100%;
	border-left: #000000 7px solid;
	padding: 70px 65px 0px 115px;
}

.tab-block {
	display: none;
	height: 320px;
	padding-top: 70px;
}

#delivery:checked ~ .service__panels .tab-block-delivery,
#warranty:checked ~ .service__panels .tab-block-warranty,
#credit:checked ~ .service__panels .tab-block-credit {
	display: grid;
	grid-template-columns: 500px 1fr;
	grid-template-rows: 70px 1fr;
	grid-template-areas:
		"tab-description tab-image"
		"tab-content tab-image";
	grid-row-gap: 15px;
	grid-column-gap: 60px;
}

#delivery:checked ~ .service__tabs .delivery_tab,
#warranty:checked ~ .service__tabs .warranty_tab,
#credit:checked ~ .service__tabs .credit_tab {
	margin: 0;
	padding: 10px 120px 10px 0px;
	background-color: #000000;
	color: #ffe17f;
}

.tab-description {
	grid-area: tab-description;
	margin: 0;
}

.tab-image {
	grid-area: tab-image;
}

.tab-content {
	grid-area: tab-content;
}

/* свойства секции "about" */

.about {
	padding-bottom: 87px;
}

.about__delivery {
	display: flex;
	justify-content: space-between;
	background-color: #f0f0f0;
}

.delivery__image {
	width: 125px;
	height: 100px;
	background: url(/img/delivery-logo.svg) #ffe17f 50% 50% no-repeat;
}

.delivery__content {
	margin-top: 37px;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.delivery__button {
	margin: 29px 33px 31px 33px;
	width: 40px;
	height: 40px;
	background: url(/img/delivery-info-logo.svg) #dcdcdc 50% 50% no-repeat;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.about__wrapper {
	display: flex;
}

.about__info {
	display: flex;
	flex-direction: column;
	padding: 145px 20px 0 0;
}

.about__contact {
	display: flex;
	flex-direction: column;
	padding: 145px 0 0 20px;
}

.info__title,
.contact__title {
	font-family: "Raleway", sans-serif;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 45px;
}

.info__list {
	margin: 45px 0 50px 0;
	padding: 0;
}

.info__list-item {
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 20px;
}

.contact__subtitle {
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 30px;
}

.contact__content,
.info__content {
	margin-bottom: 30px;
	font-style: normal;
	color: #000000;
}

.contact__content-address {
	font-style: normal;
	color: #000000;
}

.contacts__address {
	margin-bottom: 30px;
}

.info__link {
	margin-top: auto;
}

/* свойства секции "subscribe" */

.subscribe {
	margin: 0;
	background-color: #f0f0f0;
}

.subscribe__wrapper {
	padding: 75px 0 130px 0;
	display: grid;
	grid-template-columns: 560px 40px 360px 200px;
	grid-template-areas:
		"subscribe__slogan . subscribe__content subscribe__content"
		"subscribe__form subscribe__form subscribe__form subscribe__text";
	grid-row-gap: 50px;
}

.subscribe__slogan {
	grid-area: subscribe__slogan;
	font-family: "Raleway", sans-serif;
	font-size: 50px;
	line-height: 50px;
}

.subscribe__form {
	display: flex;
	grid-area: subscribe__form;
}

.subscribe__input {
	font-size: 18px;
	display: block;
	margin: 0;
	width: 595px;
	color: rgba(68, 68, 68, 0.5);
	border: none;
	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
	background-color: inherit;
}

.subscribe__button {
	padding: 17px 0 18px 0;
	width: 260px;

	font-size: 18px;
	font-family: "Raleway", sans-serif;
	color: #000000;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	border: 3px solid rgba(0, 0, 0, 0.1);
	background-color: none;
	cursor: pointer;
}
.subscribe__content {
	grid-area: subscribe__content;
	color: #444444;
}

.subscribe__text {
	align-self: center;
	grid-area: subscribe__text;
}

/* .subscribe__text::before {
	content: "";
	width: 14px;
	height: 14px;
	background: url(/img/subscribe-check.svg) 50% 50% no-repeat;
} */

/* свойства "footer" */

.page-footer {
	margin: 0;
	padding: 61px 0 62px;
	background-color: #444444;
	color: #ffffff;
}

.page-footer__logo {
	margin-bottom: 35px;
}

.page-footer__wrapper {
	display: grid;
	grid-template-columns: 250px 1fr 250px;
	grid-row-gap: 50px;
	align-items: center;
}

.page-footer__navigation {
	justify-self: center;
}

.page-footer__address {
	line-height: 19px;
}

.page-footer__address-text,
.page-footer__contact {
	font-size: 16px;
	line-height: 19px;
	font-style: normal;
	text-decoration: none;
	color: #ffffff;
}
.socials__list,
.navigation__list-footer {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.navigation__list-footer {
	width: 458px;
	align-content: center;
}

.socials__list {
	width: 150px;
	justify-self: center;
}

.navigation-footer__item {
	width: 148px;
	text-align: center;
}

.socials__link {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.socials__link-facebook {
	background: url(/img/facebook-logo.svg) #ffffff 50% 50% no-repeat;
}

.socials__link-instagram {
	background: url(/img/instagram-logo.svg) #ffffff 50% 50% no-repeat;
}

.socials__link-twitter {
	background: url(/img/twitter-logo.svg) #ffffff 50% 50% no-repeat;
}

.navigation-footer__link {
	font-family: "Raleway", sans-serif;
	color: #000000;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.page-footer__contact {
	justify-self: end;
}

.html-academy__image {
	width: 115px;
	height: 40px;
	background: url(/img/htmlacademy-logo.svg) no-repeat 50% 50%;
}

.html-academy__link {
	display: block;
	height: 40px;
	justify-self: end;
}

.page-footer__divider {
	width: 80px;
	height: 7px;
	background-color: #ffc700;
}

/* свойства header страницы каталога */

.main-inner__header {
	padding: 37px 0px 50px 60px;
}

.inner-header__title {
	margin-bottom: 15px;
	font-family: "Raleway", sans-serif;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
}

.breadcrumbs {
	display: flex;
}

.breadcrumbs-item {
	margin-right: 36px;
	font-size: 16px;
	line-height: 19px;
	opacity: 0.6;
}

.breadcrumbs-item a {
	color: #000000;
	text-decoration: none;
}

/* свойства секции catalog */

.catalog {
	display: flex;
}

.catalog__left-column {
	width: 360px;
	display: flex;
	flex-direction: column;
}

.catalog-right-column {
	margin-left: auto;
	width: 760px;
	display: flex;
	flex-direction: column;
}

.catalog__title {
	height: 20px;
	padding: 25px 0px 25px 60px;
}

.catalog__filter {
	margin-left: 60px;
	width: 200px;
}

.catalog__filter-list {
	margin-bottom: 50px;
}

.catalog__title {
	background-color: #dcdcdc;
	font-family: "Raleway", sans-serif;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.catalog__filter-group {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	border: none;
	border-top: #000000 solid 2px;
}

.catalog__filter-title {
	display: block;
	padding: 12px 0 28px 0;
	font-weight: 700;
}

.catalog__filter-label {
	font-size: 15px;
	line-height: 17px;
	opacity: 0.3;
}

.control__label {
	font-size: 16px;
	line-height: 19px;
}

.sorting-type {
	height: 70px;
	display: flex;
	align-items: center;
	background-color: #e5e5e5;
}

.sorting-label {
	width: 200px;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.select-control {
	margin-right: auto;
	font-size: 16px;
	line-height: 19px;
	background-color: #e5e5e5;
	border: none;
}

.sorting__button-up {
	display: block;
	padding: 10px;
	width: 11px;
	height: 10px;
	background: url(/img/sorting-up.svg) 50% 50% no-repeat;
}
.sorting__button-down {
	display: block;
	padding: 10px 0 10px 10px;
	width: 11px;
	height: 10px;
	background: url(/img/sorting-down.svg) 50% 50% no-repeat;
}

.product-card {
	min-height: 460px;
}

.product-card__list {
	padding: 70px 0 0 0;
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 1fr 1fr;
}

.product-card__link {
	text-decoration: none;
}

.product-card-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	letter-spacing: -0.02em;
}

.product-card__image {
	margin-bottom: 32px;
}

.product-card__wrapper {
	display: flex;
	justify-content: space-between;
}

.product-card__price {
	color: #444444;
	line-height: 21px;
}

.product-card__show-more {
	margin: 55px 0 45px 0;
	height: 55px;
	background-color: #ffffff;
	border: solid 3px rgba(0, 0, 0, 0.1);
}

.pagination {
	display: flex;
	padding: 25px 30px;
	margin-bottom: 75px;
	background-color: #ebebeb;
}

.pagination-prev,
.pagination-next {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
}

.pagination-item-first {
	margin-right: auto;
}

.pagination-item {
	margin: 0 15px 0 15px;
}

.pagination-item-last {
	margin-left: auto;
}

.pagination-link {
	font-size: 16px;
	line-height: 19px;
	color: #444444;
	opacity: 0.3;
	text-decoration: none;
}
/* Класс для скрытия элементов */

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
