/* Подключение шрифтов */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

/* общие свойства страницы */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

li {
  margin: 0;
  list-style-type: none;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* типовая кнопка */
.button {
  display: block;
  box-sizing: border-box;
  height: 40px;
  padding-top: 9px;
  padding-bottom: 11px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border: none;
  background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 40%,
          #ffc700 40%,
          #ffc700 60%,
          rgba(255, 255, 255, 0) 60%
  );
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button:focus {
  outline: none;
  background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 40%,
          #af4fff 40%,
          #af4fff 60%,
          rgba(255, 255, 255, 0) 60%
  );
}

.button:hover {
  background: #ffc700;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* свойства "header" */
.page-header {
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  width: 1160px;
  min-height: 150px;
  margin: 40px auto 0 auto;
  padding: 38px 40px 0 40px;
  color: #000000;
  background-color: #ffe17f;
}

.page-header_catalog {
  min-height: 183px;
}

.header__logo {
  position: absolute;
  top: -23px;
  left: 60px;
  display: block;
}

.page-header__navigation {
  width: 100%;
}

.navigation__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Меню навигация пользователя */
.navigation-user {
  position: relative;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 19px;
}

.navigation-user__search-item {
  width: 508px;
  margin: 0 23px 0 7px;
}

.navigation-user__form {
  position: relative;
  display: flex;
}

.navigation-user__button-search {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  background: #ffe17f url(../img/nav-search-logo.svg) 50% 50% no-repeat;
  cursor: pointer;
}

.navigation-user__input {
  display: block;
  box-sizing: border-box;
  width: 516px;
  height: 40px;
  margin: 0;
  padding-left: 45px;
  font-size: 16px;
  color: #000000;
  border: 2px solid transparent;
  background-color: #ffe17f;
}

.navigation-user__input::placeholder {
  font-family: "Rubik", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.navigation-user__form:hover .navigation-user__input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-user__form:active .navigation-user__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-user__input:focus {
  border: 2px solid #000000;
  border-radius: 20px;
  outline: none;
}

input.navigation-user__input:placeholder-shown + .navigation-user__button-find {
  display: none;
}

input.navigation-user__input:focus:placeholder-shown {
  border: 2px solid #af4fff;
  border-radius: 20px;
  outline: none;
}

.navigation-user__button-find {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  border: 2px solid #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: none;
  background-color: #ffe17f;
}

.navigation-user__button-find:focus {
  border-color: #af4fff;
}

.navigation-user__button-find:hover {
  color: #ffffff;
  border-color: #000000;
  background-color: #000000;
}

.navigation-user__button-find:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: #000000;
  background-color: #000000;
}

.navigation-user__login-item {
  margin-right: auto;
}

.navigation-user__compare-item {
  margin-right: 14px;
}

.navigation-user__cart-item {
  position: relative;
}

.navigation-user__cart-item::after {
  position: absolute;
  top: 20px;
  left: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 13px;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 14px;
  line-height: 21px;
  border-radius: 10px;
  background-color: #ffffff;
  content: "2";
  transform: translate(-100%, -50%);
}

.navigation-user__cart-item:hover::after {
  opacity: 0.6;
}

.navigation-user__cart-item:active::after {
  opacity: 0.3;
}

.navigation-user__link {
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
  height: 40px;
  color: #000000;
  border: 2px solid transparent;
  text-decoration: none;
}

.navigation-user__login-link {
  padding: 9px 21px 0 19px;
}

.navigation-user__compare-link {
  padding: 9px 17px 0 19px;
}

.navigation-user__cart-link {
  padding: 9px 18px 0 20px;
}

.navigation-user__exit {
  position: relative;
  left: -16px;
}

.navigation-user__exit-link {
  padding: 9px 10px 0 10px;
  opacity: 0.3;
}

.login-icon {
  margin-right: 12px;
}

.compare-icon {
  margin-right: 10px;
}

.cart-icon {
  margin-right: 10px;
}

.navigation-user__link:focus {
  box-sizing: border-box;
  border: 2px solid #af4fff;
  border-radius: 20px;
  outline: none;
}

.navigation-user__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-user__link:hover .login-icon,
.navigation-user__link:hover .compare-icon,
.navigation-user__link:hover .cart-icon {
  fill: rgba(0, 0, 0, 0.6);
}

.navigation-user__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-user__link:active .compare-icon,
.navigation-user__link:active .login-icon,
.navigation-user__link:active .cart-icon {
  border: none;
  fill: rgba(0, 0, 0, 0.3);
}

/* Меню навигация страницы */

.navigation-main {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.navigation-main:last-child .navigation-main__link {
  margin-right: -15px;
}

.navigation-main__delivery-item {
  min-width: 159px;
  margin-left: auto;
}

.navigation-main__warranty-item {
  min-width: 215px;
}

.navigation-main__contacts-item {
  min-width: 166px;
  text-align: start;
}

.navigation-main__catalog-button {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 16px 0 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid transparent;
  border-radius: 25px;
  outline: none;
  background-color: #ffe17f;
  cursor: pointer;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-main__catalog-button::after {
  position: absolute;
  right: -52px;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  outline: none;
  background: url(../img/header-plus-button.svg) #ffe17f 50% 50% no-repeat;
  content: "";
  cursor: pointer;
}

.navigation-main__catalog-button:hover + .navigation-main__summary-list,
.navigation-main__catalog-button:focus + .navigation-main__summary-list {
  display: grid;
}

.navigation-main__catalog-button:hover::after {
  border: 2px solid #000000;
  background: url(../img/header-minus-hover.svg) #ffe17f 50% 50% no-repeat;
}

.navigation-main__catalog-button:focus {
  border: 2px solid #af4fff;
}

.navigation-main__catalog-button:active {
  opacity: 0.3;
}

.navigation-main__summary-list {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  display: none;
  grid-template-columns: 240px 200px auto;
  box-sizing: border-box;
  width: 1160px;
  padding: 28px 0 52px 45px;
  background-color: #ffe17f;
  transform: translateY(100%);
  row-gap: 9px;
}

.navigation-main__summary-item {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
}

.item-double-row {
  grid-column: span 2;
}

.summary-link {
  display: inline-block;
  box-sizing: border-box;
  height: 27px;
  padding: 2px 13px 0 13px;
  color: #000000;
  border: 2px solid transparent;
  text-decoration: none;
}

.summary-link:focus {
  border: 2px solid #af4fff;
  border-radius: 25px;
  outline: none;
}

.summary-link:hover {
  opacity: 0.6;
}

.summary-link:active {
  opacity: 0.3;
}

/* Оформление элементов навигации Доставка, Гарантия, Контакты */

.navigation-main__link {
  position: relative;
  display: inline-block;
  padding: 14px 18px 15px 18px;
  color: #000000;
  border: 2px solid transparent;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-main__link:hover::before {
  position: absolute;
  right: 20px;
  bottom: 10px;
  left: 18px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.navigation-main__link:focus {
  border: 2px solid #af4fff;
  border-radius: 25px;
}

.navigation-main__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-main__link:active::before {
  position: absolute;
  right: 23px;
  bottom: 10px;
  left: 21px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

/* свойства секции "main" */

.page-main {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* свойства секции "slider" */

.slider {
  position: relative;
  display: none;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 70px;
}

.slider-current {
  display: flex;
}

.slider:before {
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: #ffe17f;
  content: "";
}

.slider__img-section {
  position: relative;
  display: flex;
  min-width: 560px;
}

.slider__controls {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.slider__info-section {
  max-width: 560px;
  padding: 30px 0 39px 40px;
}

.slider-image {
  max-width: 560px;
}

.slider__button-prev,
.slider__button-next {
  position: absolute;
  box-sizing: border-box;
  width: 40px;
  height: 80px;
  padding: 0;
  border: none;
  outline: none;
  background: inherit;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.slider__button-prev:focus,
.slider__button-next:focus {
  border: 2px #af4fff solid;
  border-radius: 6px;
  outline: none;
}

.slider__button-prev:hover .button-prev-icon,
.slider__button-next:hover .button-next-icon {
  fill: rgba(0, 0, 0, 0.6);
}

.slider__button-prev:active .button-prev-icon,
.slider__button-next:active .button-next-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.slider__button-prev {
  left: 30px;
}

.slider__button-next {
  right: -10px;
}

.slider__number {
  position: relative;
  z-index: 1;
  margin: 0 50px 0 0;
  font-size: 180px;
  font-weight: 800;
  line-height: 135px;
  color: #ffffff;
  text-align: end;
}

.slider__slogan {
  position: relative;
  z-index: 2;
  max-width: 560px;
  margin: -44px 0 30px 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.slider__description {
  margin: 0 0 40px 0;
}

.paganation-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 59px 0;
  padding-right: 60px;
}

.slider__link {
  min-width: 220px;
  background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 40%,
          #ffe17f 40%,
          #ffe17f 60%,
          rgba(255, 255, 255, 0) 60%
  );
  text-align: center;
}

.slider__link:hover {
  background: #ffe17f;
}

.slider__pagination {
  display: flex;
  align-items: center;
  gap: 23px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 0 0 15px;
}

.slider__pagination-item {
  display: block;
  margin: 0;
  padding: 0;
}

.slider__pagination-button {
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: solid #000000 2px;
  border-radius: 50%;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}

.slider__pagination-button:focus {
  border-color: #af4fff;
}

.slider__pagination-button:hover {
  opacity: 0.6;
}

.slider__pagination-button:active {
  opacity: 0.3;
  border-color: #000000;
}

.slider__pagination-button_current,
.slider__pagination-button_current:focus {
  opacity: 1;
  border-color: #000000;
  background-color: #000000;
}

.slider__specification {
  display: grid;
  grid-template-columns: minmax(160px, max-content) minmax(140px, max-content);
  margin: 0;
  padding: 0;
  white-space: normal;
  row-gap: 10px;
}

.specification__definition {
  grid-row: 1;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 30px;
}

.specification__term {
  grid-row: 2;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
}

/* свойства секции "category" */
.category {
  margin: 0 0 81px 0;
}

.category__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0;
}

.category__item {
  width: 160px;
}

.category__link {
  color: #000000;
  text-decoration: none;
}

.category__link:focus {
  color: #af4fff;
  outline: none;
}

.category__link:focus .category__image {
  color: #af4fff;
  outline: #af4fff solid 5px;
}

.category__link:hover .category__image {
  background-color: #ffc700;
}

.category__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.category__image {
  align-content: center;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
}

.category__image-1 {
  background: url(../img/cat-VR-logo.svg) #ffe17f 50% 50% no-repeat;
}

.category__image-2 {
  background: url(../img/car-monopode-logo.svg) #ffe17f 50% 100% no-repeat;
}

.category__image-3 {
  background: url(../img/cat-actcam-logo.svg) #ffe17f 53% 50% no-repeat;
}

.category__image-4 {
  background: url(../img/cat-fitnessbr-logo.svg) #ffe17f 50% 50% no-repeat;
}

.category__image-5 {
  background: url(../img/cat-smartwatch-logo.svg) #ffe17f 50% 50% no-repeat;
}

.category__image-6 {
  background: url(../img/cat-quadro-logo.svg) #ffe17f 50% 50% no-repeat;
}

.category__link:active .category__image-1 {
  outline: none;
  background: url(../img/cat-VR-logo-active.svg) #ffe17f 50% 50% no-repeat;
}

.category__link:active .category__image-2 {
  outline: none;
  background: url(../img/car-monopode-logo-active.svg) #ffe17f 50% 100% no-repeat;
}

.category__link:active .category__image-3 {
  outline: none;
  background: url(../img/cat-actcam-logo-active.svg) #ffe17f 53% 50% no-repeat;
}

.category__link:active .category__image-4 {
  outline: none;
  background: url(../img/cat-fitnessbr-logo-active.svg) #ffe17f 50% 50% no-repeat;
}

.category__link:active .category__image-5 {
  outline: none;
  background: url(../img/cat-smartwatch-logo-active.svg) #ffe17f 50% 50% no-repeat;
}

.category__link:active .category__image-6 {
  outline: none;
  background: url(../img/cat-quadro-logo-active.svg) #ffe17f 50% 50% no-repeat;
}

.category__content {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

/* свойства секции "services" */
.service {
  position: relative;
  min-height: 320px;
  margin: 100px 0 57px 0;
  background-color: #f0f0f0;
}

/* Маскирует нижнюю серую полосу блока service*/
/* т.к. блок service не может быть высотой меньше 320px */
.service::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 32px;
  background-color: #ffffff;
  content: "";
}

.service-wrapper {
  position: relative;
  top: -100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 320px;
  margin-top: 0;
}

.service__tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  padding-top: 10px;
}

.tab-label {
  display: block;
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 40px;
  background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 40%,
          #ffc700 40%,
          #ffc700 60%,
          rgba(255, 255, 255, 0) 60%
  );
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.tab-label:focus {
  outline: none;
  background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 40%,
          #af4fff 40%,
          #af4fff 60%,
          rgba(255, 255, 255, 0) 60%
  );
}

.tab-label:hover {
  height: 40px;
  background: #ffc700;
}

.tab-label:active {
  color: rgba(0, 0, 0, 0.3);
}

.tab-description {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.service__panels {
  width: 100%;
  border-left: #000000 7px solid;
}

.tab-block {
  display: none;
  box-sizing: border-box;
  min-height: 319px;
  padding: 70px 65px 20px 116px;
}

#delivery:checked ~ .service__panels .tab-block-delivery,
#warranty:checked ~ .service__panels .tab-block-warranty,
#credit:checked ~ .service__panels .tab-block-credit {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "tab-description tab-image"
    "tab-content tab-image";
  grid-column-gap: 58px;
  grid-row-gap: 15px;
}

#delivery:checked ~ .service__tabs .delivery_tab,
#warranty:checked ~ .service__tabs .warranty_tab,
#credit:checked ~ .service__tabs .credit_tab {
  position: relative;
  margin-right: 117px;
  color: #ffe17f;
  background: #000000;
}

/* часть черного tab */
#delivery:checked ~ .service__tabs .delivery_tab::after,
#warranty:checked ~ .service__tabs .warranty_tab::after,
#credit:checked ~ .service__tabs .credit_tab::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 40px;
  background: #000000;
  content: "";
  transform: translateX(100%);
}

.tab-description {
  grid-area: tab-description;
  margin: 0;
}

.tab-image {
  display: block;
  grid-area: tab-image;
  margin-top: 15px;
}

.tab-content {
  grid-area: tab-content;
}

/* свойства секции "about" */
.about {
  padding-bottom: 77px;
}

.about__delivery {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.about__delivery:focus {
  outline: #af4fff solid 5px;
}

.about__delivery:hover {
  background-color: #ebebeb;
}

.about__delivery:hover .delivery__image {
  background-color: #ffc700;
}

.about__delivery:hover .delivery__button {
  background: url(../img/delivery-info-logo-hover.svg) #dcdcdc 50% 50% no-repeat;
}

.about__delivery:active {
  outline: none;
}

.about__delivery:active .delivery__image {
  background: url(../img/delivery-logo-action.svg) #ffe17f 50% 50% no-repeat;
}

.about__delivery:active .delivery__content {
  color: rgba(0, 0, 0, 0.3);
}

.about__delivery:active .delivery__button {
  background: url(../img/delivery-info-logo.svg) rgba(220, 220, 220, 0.5) 50% 50% no-repeat;
}

.delivery__image {
  width: 125px;
  height: 100px;
  background: url(../img/delivery-logo.svg) #ffe17f 50% 50% no-repeat;
}

.delivery__content {
  align-self: center;
  max-width: 850px;
  padding-right: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.delivery__button {
  width: 40px;
  height: 40px;
  margin: 29px 33px 31px 33px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: url(../img/delivery-info-logo.svg) rgba(220, 220, 220, 0.5) 50% 50% no-repeat;
  cursor: pointer;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 540px 560px;
  gap: 60px;
}

.about__info,
.about__contact {
  display: flex;
  flex-direction: column;
  padding: 146px 0 0 0;
}

.info__title,
.contact__title {
  position: relative;
  margin-bottom: 46px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.info__title::before,
.contact__title::before {
  position: absolute;
  top: -49px;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
  content: "";
}

.info__list {
  margin: 45px 0 44px 35px;
  padding: 0;
}

.info__list-item {
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 20px;
}

.info__list-item::before {
  position: absolute;
  top: 50%;
  left: -35px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc700;
  content: "";
  transform: translateY(-50%);
}

.contact__subtitle {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
}

.contact__content,
.info__content {
  margin-bottom: 30px;
  font-style: normal;
  color: #000000;
}

.contact__content-tel {
  font-style: normal;
  color: #000000;
  outline: none;
}

.contact__content-tel:focus {
  color: #af4fff;
}

.contact__content-address {
  font-style: normal;
  color: #000000;
}

.contacts__address {
  margin-bottom: 30px;
}

.info__link {
  display: block;
  align-self: start;
  width: 260px;
  margin-top: auto;
  background-color: #ffe17f;
  text-align: center;
}

.info__link,
.info__link:active {
  background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 40%,
          #ffe17f 40%,
          #ffe17f 60%,
          rgba(255, 255, 255, 0) 60%
  );
}

.info__link:hover {
  background-color: #ffe17f;
}

/* свойства секции "subscribe" */
.subscribe {
  margin: 0;
  background-color: #f0f0f0;
}

.subscribe__wrapper {
  display: grid;
  grid-template-columns: 560px 40px 360px 200px;
  grid-template-areas:
    "subscribe__slogan . subscribe__content subscribe__content"
    "subscribe__form subscribe__form subscribe__form subscribe__text";
  grid-row-gap: 60px;
  padding: 75px 0 130px 0;
}

.subscribe__slogan {
  grid-area: subscribe__slogan;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.subscribe__form {
  display: flex;
  grid-area: subscribe__form;
}

.subscribe__input {
  display: block;
  width: 600px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  outline: none;
  background-color: inherit;
}

.subscribe__input::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.subscribe__input:focus {
  background-color: #dcdcdc;
}

.subscribe__input:hover::placeholder {
  color: rgba(68, 68, 68, 0.7);
}

.subscribe__input:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.subscribe__input:active::placeholder {
  color: #444444;
}

.subscribe__input:active {
  border-bottom: 3px solid #444444;
}

.subscribe__input:invalid {
  border-bottom: 3px solid #ff3d3d;
}

.subscribe__button {
  box-sizing: border-box;
  min-width: 260px;
  height: 55px;
  padding: 14px 0 18px 4px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #000000;
  border: 3px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subscribe__button:focus {
  border: 3px solid #af4fff;
}

.subscribe__button:hover {
  color: #ffffff;
  border: 3px solid #000000;
  background-color: #000000;
}

.subscribe__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe__content {
  grid-area: subscribe__content;
  padding-top: 10px;
  color: #444444;
}

.subscribe__text {
  position: relative;
  align-self: center;
  grid-area: subscribe__text;
  justify-self: end;
}

.subscribe__text::before {
  position: absolute;
  top: 50%;
  left: -36px;
  width: 14px;
  height: 14px;
  background: url(../img/subscribe-check.svg) 50% 50% no-repeat;
  content: "";
  transform: translateY(-50%);
}

/* свойства "footer" */
.page-footer {
  margin: 0;
  padding: 62px 0 62px;
  color: #ffffff;
  background-color: #444444;
}

.page-footer__logo {
  margin-bottom: 17px;
  margin-left: -2px;
}

.page-footer__wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 260px 1fr 260px;
  grid-row-gap: 38px;
}

/* здесь отрицательный margin,
  чтобы выровнять блок по краю текста
  и border focus мог выходить за пределы
  основной ширины page-container: 1160px  */
.page-footer__address {
  margin-top: 6px;
  margin-left: -15px;
  line-height: 19px;
}

.page-footer__address-text {
  display: block;
  justify-self: end;
  box-sizing: border-box;
  min-height: 46px;
  padding: 1px 13px 0 13px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.page-footer__address-text,
.page-footer__contact {
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

.socials__list,
.navigation__list-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navigation__list-footer {
  padding-left: 3px;
}

.socials__list {
  gap: 15px;
}

.navigation-footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  margin-bottom: 2px;
}

.socials__link {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.socials__link-icon {
  margin: 0 auto 0 auto;
  fill: #444444;
}

.socials__link:focus {
  outline: 5px solid #af4fff;
  background-color: #444444;
}

.socials__link:focus .socials__link-icon {
  fill: #ffffff;
}

.socials__link:hover {
  background-color: #ffc700;
}

.socials__link:hover .socials__link-icon {
  fill: #444444;
}

.socials__link:active {
  background-color: #ffc700;
}

.socials__link:active .socials__link-icon {
  fill: rgba(68, 68, 68, 0.3);
}

.navigation-footer__link {
  box-sizing: border-box;
  height: 50px;
  padding: 8px 16px 0 18px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 25px;
  outline: none;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-footer__link:focus {
  border: 2px solid #af4fff;
}

.navigation-footer__link:hover {
  position: relative;
  color: #ffc700;
}

.navigation-footer__link:hover::before {
  position: absolute;
  right: 18px;
  bottom: 7px;
  left: 18px;
  height: 2px;
  background-color: #ffc700;
  content: "";
}

.navigation-footer__link:active {
  color: rgba(255, 199, 0, 0.3);
}

.navigation-footer__link:active::before {
  background-color: rgba(255, 199, 0, 0.3);
}

.page-footer__contact {
  display: block;
  justify-self: end;
  box-sizing: border-box;
  min-height: 27px;
  margin-right: -15px;
  padding: 1px 13px 0 13px;
  border: 2px solid transparent;
  border-radius: 25px;
}

.page-footer__contact:focus,
.page-footer__address-text:focus {
  border: 2px solid #af4fff;
}

.page-footer__contact:hover,
.page-footer__address-text:hover {
  color: #ffc700;
}

.page-footer__contact:active,
.page-footer__address-text:active {
  color: rgba(255, 199, 0, 0.3);
}

/* здесь отрицательный margin,
чтобы выровнять блок по краю текста
и border focus мог выходить за пределы
основной ширины page-container: 1160px  */
.html-academy__link {
  display: block;
  justify-self: end;
  box-sizing: border-box;
  height: 53px;
  margin-right: -12px;
  padding: 8px 8px 0 8px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
}

.html-academy__icon {
  fill: #ffc700;
}

.html-academy__link:focus {
  border: 2px solid #af4fff;
}

.html-academy__link:hover .html-academy__icon {
  fill: #ffffff;
}

.html-academy__link:active .html-academy__icon {
  fill: rgba(255, 255, 255, 0.3);
}

.page-footer__divider {
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

/* свойства header страницы каталога */
.main-inner__header {
  padding: 37px 0 43px 60px;
}

.inner-header__title {
  margin-bottom: 19px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  gap: 11px;
  flex-wrap: wrap;
  margin-left: -13px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -8px;
  width: 4px;
  height: 7px;
  opacity: 0.6;
  background: url("../img/cat-beardcrums-arrow.svg") 50% 50% no-repeat;
  content: "";
  transform: translateY(-50%);
}

.breadcrumbs-link {
  padding: 5px 12px 6px 12px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 0.6);
  color: #000000;
}

.breadcrumbs-link:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: 5px #af4fff solid;
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* свойства секции catalog */

.catalog {
  display: grid;
  grid-template-columns: auto 328px 832px auto;
  grid-template-rows: min-content min-content;
}

.title-wrapper {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  justify-content: flex-end;
  background-color: #dcdcdc;
}

.catalog__title {
  box-sizing: border-box;
  width: 328px;
  min-height: 20px;
  padding: 25px 0 25px 59px;
  font-family: "Raleway", sans-serif;
  line-height: 19px;
  background-color: #dcdcdc;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog-filter-wrapper {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-content: flex-end;
  background-color: #e5e5e5;
}

.catalog__filter {
  box-sizing: border-box;
  width: 328px;
  padding: 75px 69px 0 59px;
  background-color: #e5e5e5;
}

.catalog__filter-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 19px;
  margin-bottom: 15px;
}

.catalog__filter-group {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
  border: none;
  background-color: #e5e5e5;
}

.catalog__filter-title:before {
  position: absolute;
  top: -6px;
  right: 0;
  left: 0;
  height: 2px;
  background-color: #000000;
  content: "";

}

/* Оформление фильтра Range*/

.filter__range-scale {
  position: relative;
  height: 2px;
  margin: 33px 0 42px 0;
  border-radius: 2px;
  background-color: #dcdcdc;
}

.filter__range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  width: 18px;
  height: 18px;
  margin: 0 auto 6px auto;
  padding: 0;
  border: #000000 2px solid;
  border-radius: 50%;
  outline: none;
  background: #ebebeb;
  cursor: pointer;
}

.range-wrapper {
  position: absolute;
  top: -8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.range-wrapper-min {
  left: 0;
  transform: translateX(-50%);
}

.range-wrapper-max {
  right: 0;
  transform: translateX(50%);
}

.range-wrapper:hover .range-toggle {
  border: rgba(0, 0, 0, 0.5) 2px solid;
}

.range-wrapper:focus-within .range-toggle {
  border: #af4fff 2px solid;
}

.range-wrapper:focus-within .catalog__range-label {
  color: #af4fff;
}

.range-wrapper:focus-within .catalog__range-label .catalog__range-input {
  color: #af4fff;
}

.range-wrapper:active .range-toggle {
  border: #000000 2px solid;
  background-color: #000000;
}

.range-wrapper:active .catalog__range-label {
  color: #000000;
}

.range-wrapper:active .catalog__range-label .catalog__range-input {
  color: #000000;
}

.catalog__range-label {
  display: flex;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.range-label_min {
  padding-left: 30px;
}

.catalog__range-input {
  max-width: 37px;
  padding: 0 2px;
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  background-color: transparent;
  text-align: left;
  appearance: auto;
}

.catalog__range-input::-webkit-outer-spin-button,
.catalog__range-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.catalog__filter-title {
  display: block;
  padding: 3px 0 0 0;
  font-weight: 700;
  letter-spacing: -0.02em;
}

/* Оформление формы с checkbox и radiobutton */

.control {
  position: relative;
  display: block;
  padding-left: 38px;
}

.control__mark {
  position: absolute;
  top: 50%;
  left: 1px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background: #ebebeb;
  transform: translateY(-50%);
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__label {
  width: 200px;
  font-size: 16px;
  line-height: 19px;
}

.control__input:checked + .control__mark {
  border-color: #000000;
}

.control__input[type="checkbox"]:checked + .control__mark:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-image: url("../img/filter-check.svg");
  content: "";
  transform: translate(-50%, -50%);
}

.control__input[type="radio"]:checked + .control__mark:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
  content: "";
  transform: translate(-50%, -50%);
}

.control:hover .control__mark {
  border-color: rgba(0, 0, 0, 0.5);
}

.control:hover .control__label {
  color: #000000;
}

.control:hover .control__input:checked ~ .control__label {
  color: rgba(0, 0, 0, 0.5);
}

.control:hover .control__input:checked ~ .control__mark {
  border-color: rgba(0, 0, 0, 0.5);
}

.control:hover .control__input[type="checkbox"]:checked ~ .control__mark:before {
  background-image: url("../img/filter-check-hover.svg");
}

.control:hover .control__input[type="radio"]:checked ~ .control__mark:before {
  background-color: rgba(0, 0, 0, 0.5);
}

.control:focus-within .control__input ~ .control__mark {
  border-color: #af4fff;
}

.control:focus-within .control__input ~ .control__label,
.control:focus-within .control__input:checked ~ .control__label {
  color: #af4fff;
}

.control:focus-within .control__input ~ .control__mark,
.control:focus-within .control__input:checked ~ .control__mark {
  border-color: #af4fff;
}

.control:focus-within .control__input[type="checkbox"]:checked + .control__mark:before {
  background-image: url("../img/filter-check-focus.svg");
}

.control:focus-within .control__input[type="radio"]:checked + .control__mark:before {
  background-color: #af4fff;
}

.control .control__input:disabled ~ .control__mark,
.control .control__input:checked:disabled ~ .control__mark {
  border-color: rgba(0, 0, 0, 0.2);
}

.control .control__input:disabled ~ .control__label,
.control .control__input:checked:disabled ~ .control__label {
  color: rgba(0, 0, 0, 0.2);
}

.control .control__input[type="checkbox"]:checked:disabled + .control__mark:before {
  background-image: url("../img/filter-check-disabled.svg");
}

.control .control__input[type="radio"]:checked:disabled + .control__mark:before {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog__filter-label {
  font-size: 15px;
  line-height: 17px;
  opacity: 0.3;
}

.sorting-type {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 832px;
  height: 70px;
  padding: 0 0 0 72px;
  background-color: #e5e5e5;
}

.sorting-wrapper {
  display: flex;
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  justify-content: flex-start;
  background-color: #e5e5e5;
}

.sorting-label {
  min-width: 186px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-control {
  position: relative;
  z-index: 0;
  margin-right: auto;
  padding: 4px 41px 7px 13px;
  font-size: 16px;
  line-height: 19px;
  border: none;
  outline: none;
  background: url("../img/cat-select-arrow.svg") #e5e5e5 right 15px center no-repeat;
  letter-spacing: 0.01em;
  appearance: none;
}

.select-control:hover {
  color: rgba(0, 0, 0, 0.6);
  background-image: url("../img/cat-select-arrow-hover.svg");
}

.select-control:focus {
  color: #000000;
  outline: 5px solid #af4fff;
}

.select-control:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../img/cat-select-arrow-active.svg");
}

.sorting__button-up,
.sorting__button-down {
  display: flex;
  width: 30px;
  height: 30px;
  fill: rgba(0, 0, 0, 0.2);
}

.sorting__button-down {
  margin-right: -9px;
}

.sorting__button-up:hover,
.sorting__button-down:hover {
  fill: rgba(0, 0, 0, 0.5);
}

.sorting__button-up:focus,
.sorting__button-down:focus {
  outline: 5px #af4fff solid;
}

.sorting__button-up:active,
.sorting__button-down:active {
  fill: #000000;
}

.sorting-icon {
  display: block;
  margin: auto;
}

/*Оформление карточки продукта*/

.product-card {
  position: relative;
  min-height: 460px;
}

.product-cards__wrapper {
  display: flex;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  flex-direction: column;
  padding: 70px 0 77px 72px;
}

.product-card__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  grid-gap: 40px;
}

.product-card__link {
  z-index: 2;
  outline: none;
  text-decoration: none;
}

.product-card__link:hover + .product-card__button {
  display: block;
}

.product-card__link:hover .product-card__image {
  z-index: 1;
  opacity: 0.3;
  background-color: #f0f0f0;
}

.product-card__link:hover::after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  opacity: 0.6;
  background: #f0f0f0;
  content: "";
}

.product-card__link:focus .product-card__image {
  outline: 5px solid #af4fff;
  outline-offset: -5px;
}

.product-card__link:focus .product-card__wrapper .product-card__title,
.product-card__link:focus .product-card__wrapper .product-card__price {
  color: #af4fff;
}

.product-card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  letter-spacing: -0.02em;
}

.product-card__button {
  position: absolute;
  z-index: 3;
  top: 192px;
  left: 50%;
  display: none;
  width: 180px;
  height: 40px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.product-card__button:hover {
  display: block;
  background: #ffc700;
}

.product-card_new {
  position: absolute;
  z-index: 3;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  background: url("../img/prod-card-new.svg") no-repeat;
}

.product-card__image {
  margin-bottom: 25px;
}

.product-card__wrapper {
  display: flex;
  justify-content: space-between;
}

.product-card__price {
  align-self: start;
  min-width: 70px;
  line-height: 21px;
  color: #444444;
  text-align: end;
}

.product-card__show-more {
  box-sizing: border-box;
  min-height: 55px;
  margin: 47px 0 51px 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border: solid 3px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.product-card__show-more:hover {
  border-color: #000000;
}

.product-card__show-more:focus {
  border-color: #af4fff;
  outline: 3px solid #af4fff;
}

.product-card__show-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog__button {
  position: relative;
  top: -7px;
  min-width: 200px;
}

/* Оформление элементов paganation */

.pagination {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  background-color: #ebebeb;
}

.pagination-item {
  display: flex;
  align-items: center;
}

.pagination-prev,
.pagination-next {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  box-sizing: border-box;
  height: 70px;
  padding-right: 29px;
  padding-left: 29px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-next {
  justify-self: flex-end;
}

.pagination-item-first {
  margin-right: auto;
}

.pagination-item-last {
  margin-left: auto;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination-prev:focus,
.pagination-next:focus {
  outline: 5px solid #af4fff;
  outline-offset: -5px;
}

.pagination-prev:focus,
.pagination-next:focus {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link {
  display: flex;
  padding: 3px 10px 6px 10px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:focus {
  outline: 5px solid #af4fff;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

/* Класс для скрытия элементов */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Оформление popover */

.popover-open {
  display: block;
}

.popover-cart {
  position: absolute;
  z-index: 1;
  top: 44px;
  left: 34px;
  display: none;
  width: 320px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
}

.popover-cart::before {
  position: absolute;
  top: 1px;
  left: calc(50% - 4px);
  width: 14px;
  height: 7px;
  background: url("../img/popover-triangle.svg") center no-repeat;
  content: "";
  transform: translateX(-50%) translateY(-100%);
}

.popover-close {
  position: absolute;
  top: -34px;
  left: calc(50% - 16px);
  display: flex;
  align-content: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  border-color: transparent;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transform: translateX(-50%);
}

.popover-content {
  display: flex;
  flex-direction: column;
}

.popover-cart-item {
  position: relative;
  padding: 20px 65px 20px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.popover-link {
  display: flex;
  gap: 23px;
  color: #ffffff;
  text-decoration: none;
}

.popover-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.popover-link:hover .popover-image {
  opacity: 0.6;
}

.popover-link:focus {
  color: #af4fff;
  outline: none;
}

.popover-link:focus .popover-image {
  outline: 5px solid #af4fff;
}

.popover-link:active {
  color: rgba(255, 255, 255, 0.3)
}

.popover-link:active .popover-image {
  opacity: 0.3;
}

.popover-delete-item {
  position: absolute;
  top: 21px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 2px solid transparent;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.popover-delete-item:hover .popover-delete-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.popover-delete-item:focus {
  border-color: #af4fff;
  border-radius: 50%;
}

.popover-delete-icon {
  display: block;
  fill: #ffffff;
}

.popover-delete-item:active .popover-delete-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.popover-cart-total {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px 12px 20px;
  background-color: #1a1a1a;;
}

.open-cart-button {
  margin: 20px 20px 21px 20px;
  padding: 14px 0 15px 3px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 21px;
  border: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.open-cart-button:hover {
  color: #000000;
  background-color: #ffe17f;
}

.open-cart-button:focus {
  outline: 5px solid #af4fff;
}

.open-cart-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Оформление модального окна */

.modal-open {
  display: flex;
}

.modal-container {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 920px;
  padding: 62px 80px 68px 70px;
  border: 10px solid #000000;
  background-color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
}

.modal-close-button {
  position: absolute;
  top: 68px;
  right: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  border: 5px solid transparent;
  border-radius: 50%;
  outline: none;
  background-color: #ffffff;
}

.modal-close-button:hover .modal-close-icon {
  fill: rgba(0, 0, 0, 0.6);
}

.modal-close-button:focus {
  border-color: #af4fff;
}

.modal-close-button:active .modal-close-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin-bottom: 69px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  line-height: 50px;
}

.modal-delivery-form {
  display: grid;
  grid-template-columns: 360px 160px 160px;
  column-gap: 40px;
  row-gap: 15px;
}

.field-group-user-name {
  grid-column: 1 / 2;
}

.field-group-user-email {
  grid-column: 2 / -1;
}

.field-group-orders-items {
  grid-column: 1 / 3;
}

.field-group-number-of-item {
  position: relative;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.input-warning {
  font-size: 14px;
  line-height: 20px;
}

.input-field,
.input-field:placeholder-shown {
  height: 60px;
  margin-bottom: 5px;
  padding-left: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  border: none;
  background-color: #ffffff;
}

.input-field {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

.input-field:placeholder-shown {
  outline: none;
  background-color: #f0f0f0;
}

.input-user-name {
  background: url("../img/modal-input-user.svg") no-repeat 94% 50% #f0f0f0;
}

.input-user-email {
  background: url("../img/modal-input-email.svg") no-repeat 94% 50% #f0f0f0;
}

.modal-button {
  width: 200px;
  margin-top: 24px;
  padding-left: 10px;
}

.input-number-of-item:placeholder-shown,
.input-number-of-item {
  padding: 0;
  color: #000000;
  text-align: center;
}

.input-number-of-item::-webkit-outer-spin-button,
.input-number-of-item::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.button-number-plus,
.button-number-minus {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0);
}

.modal-plus-minus {
  fill: rgba(0, 0, 0, 0.6);
}

.button-number-plus {
  right: 12px;
}

.button-number-minus {
  left: 12px;
}

.button-number-plus:hover .modal-plus-minus,
.button-number-minus:hover .modal-plus-minus {
  fill: #000000;
}

.button-number-plus:focus,
.button-number-minus:focus {
  border: 2px solid #af4fff;
  border-radius: 50%;
  outline: none;
}

.button-number-plus:active .modal-plus-minus,
.button-number-minus:active .modal-plus-minus {
  fill: rgba(0, 0, 0, 0.1);
}

.field-group:hover .input-field {
  background-color: #ebebeb;
}

.field-group:focus-within .input-field {
  outline: 5px solid #af4fff;
}

.input-field-error {
  outline: 3px solid #ff3d3d;
}

.input-field:invalid ~ .input-warning {
  color: #ff3d3d;
}

.tooltip-info {
  position: absolute;
  top: -3px;
  right: 14px;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background: url("../img/tooltip-info.svg") center #ffe17f no-repeat;
  cursor: pointer;
}

.tooltip-info:hover + .tooltip-content {
  display: block;
}

.tooltip-content {
  position: absolute;
  top: 32px;
  right: -20px;
  display: none;
  width: 200px;
  padding: 19px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
}

.tooltip-content:before {
  position: absolute;
  top: 1px;
  right: 33px;
  width: 14px;
  height: 7px;
  background: url("../img/popover-triangle.svg") center no-repeat;
  content: "";
  transform: translateX(-50%) translateY(-100%);
}